
.env
/app/db
/__pycache__
/app/__pycache__
app/public.txt
app/secret.txt
app/public_test.txt
app/secret_test.txt
app/public_205.txt
app/secret_205.txt
/app/website/__pycache__
/app/website/__pycache__
/app/website/__pycache__
/app/website/__pycache__
/app/website/__pycache__
/app/website/__pycache__
public_test2.txt
secret_test2.txt
app/website/__pycache__/Database.cpython-39.pyc
/app/website/__pycache__
/app/website/__pycache__
app/website/__pycache__/Database.cpython-39.pyc
app/website/__pycache__/Database.cpython-39.pyc
app/website/__pycache__/FeatureExtractor.cpython-39.pyc
app/website/__pycache__/RecognitionSystem.cpython-39.pyc
